.ListContainer {
  --padding: 4px;
  margin: 8px -4px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(37, minmax(0, 1fr));
  /* make row height same as columns */
  grid-auto-rows: auto;
}

/* Media query at tablet portrait */
@media (min-width: 768px) {
  .ListContainer {
    --padding: 8px;
    margin: 16px -8px;
    grid-template-columns: repeat(55, minmax(0, 1fr));
  }
}

/* Media query at desktop */
@media (min-width: 1024px) {
  .ListContainer {
    grid-template-columns: repeat(70, minmax(0, 1fr));
  }
}

/* Media query at large desktop */
@media (min-width: 1440px) {
  .ListContainer {
    grid-template-columns: repeat(100, minmax(0, 1fr));
  }
}
