

.Card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid transparent;
}

.Card__active {
  border-color: rgba(255, 255, 255, 0.4);
}

.TaskUiFilters {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}