.Theme {
    min-height: 100vh;
    overflow: auto;
    padding: 32px;
    background-color: rgba(0, 0, 0, 0.817);
    display: flex;
    flex-direction: column;
}

.Theme > * {
    flex-grow: 1;
}

*, *::after, *::before {
    box-sizing: border-box;
}